Kaggle Competition - American Express Default Prediction

The notebook is based on Kaggle Competition - [Credit Default Prediction](https://www.kaggle.com/competitions/amex-default-prediction/overview)

Since the dataset is too big for Colab (Free edition), we can create a sample of the dataset and store to test the code functioning and then apply the code to a bigger dataset

Also, keep in mind, the original dataset has almost double the rows in test data than train data. This can also be handled to keep the datasets as close to original data as possible and not apply sampling techniques, since this exercise is just to test the E2E pipeline

In [ ]:
!pip install --upgrade --force-reinstall --no-deps kaggle

In [2]:
import contextlib
from google.colab import files
import io

with contextlib.redirect_stdout(io.StringIO()):
    files.upload()

In [6]:
! mkdir ~/.kaggle

! cp kaggle.json ~/.kaggle/

! chmod 600 ~/.kaggle/kaggle.json

! kaggle competitions download -c amex-default-prediction

Downloading amex-default-prediction.zip to /content
100% 20.5G/20.5G [05:21<00:00, 90.8MB/s]
100% 20.5G/20.5G [05:21<00:00, 68.4MB/s]

In [7]:
! unzip /content/amex-default-prediction.zip -d data

Archive:  /content/amex-default-prediction.zip
  inflating: data/sample_submission.csv
  inflating: data/test_data.csv
  inflating: data/train_data.csv
  inflating: data/train_labels.csv

In [20]:
import pandas as pd
import os

In [ ]:
# Define number of rows in the sample training data
train_size = 50000
# Define number of rows in the sample test data - Preferably double of the train_size
test_size = 100000
# Submission Rows
submission_size = 10

In [14]:
train_data = pd.read_csv('/content/data/train_data.csv', nrows = train_size)
# We don't wanna miss out on any labels, hence read in all the labels
train_labels = pd.read_csv('/content/data/train_labels.csv')

In [16]:
# Merge the training data with the labels
master_train_data = train_data.merge(train_labels, on = 'customer_ID', how = 'left')

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145,target
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-03-09,0.938469,0.001733,0.008724,1.006838,0.009228,0.124035,0.008771,0.004709,...,NaN,NaN,0.002427,0.003706,0.003818,NaN,0.000569,0.000610,0.002674,0
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-04-07,0.936665,0.005775,0.004923,1.000653,0.006151,0.126750,0.000798,0.002714,...,NaN,NaN,0.003954,0.003167,0.005032,NaN,0.009576,0.005492,0.009217,0
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-05-28,0.954180,0.091505,0.021655,1.009672,0.006815,0.123977,0.007598,0.009423,...,NaN,NaN,0.003269,0.007329,0.000427,NaN,0.003429,0.006986,0.002603,0
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-06-13,0.960384,0.002455,0.013683,1.002700,0.001373,0.117169,0.000685,0.005531,...,NaN,NaN,0.006117,0.004516,0.003200,NaN,0.008419,0.006527,0.009600,0
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-07-16,0.947248,0.002483,0.015193,1.000727,0.007605,0.117325,0.004653,0.009312,...,NaN,NaN,0.003671,0.004946,0.008889,NaN,0.001670,0.008126,0.009827,0

In [18]:
test_data = pd.read_csv('/content/data/test_data.csv', nrows = test_size)
submission_format = pd.read_csv('/content/data/sample_submission.csv', nrows = submission_size)

Save the sample data for further use

In [21]:
master_train_data.to_csv(os.path.join('/content/trunc_data', 'sample_train.csv'), index = False)
test_data.to_csv(os.path.join('/content/trunc_data', 'sample_test.csv'), index = False)
submission_format.to_csv(os.path.join('/content/trunc_data', 'sample_submission.csv'), index = False)